.icon-twitter {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x6c;');
}
.icon-facebook {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x66;');
}
.icon-youtube {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x78;');
}
.icon-moviestar {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2010;');
}
.icon-linkedin {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x69;');
}
