/img/default/default_header_logo.jpg
.DS_Store
css/.DS_Store
/nbproject/private/
mobile_registrations/vjf-2014.sublime-project
mobile_registrations/vjf-2014.sublime-workspace
webroot/img/theme/download.html
webroot/img/theme/msg0001.WAV
webroot/img/theme/WebStorm-8.0.4.dmg