body {
	font-family: 'Lato';
}

h1, h2, h3,
h4, h5, h6 {
	font-weight: 700;
}

p, a, li { font-weight: 400; }

.ie-warning {
	border-radius: none;
	margin-bottom: 0;
}

.fa.fa-user-voice {
	background: url('/theme/bluedrop/img/icons/user-voice-icon.png') 0 0;
	height: 18px;
	width: 18px;
}

.navbar {
	height: 65px !important;
	min-height: 65px !important;
}

.navbar-collapse {
	background-color: #f8f8f8;
}

@media only screen and (max-width : 768px) {
	.navbar-collapse {
		margin-top: 4px;
	}
}

.navbar .navbar-toggle {
	padding: 12px 10px !important;
	margin-top: 12px;
}

.navbar .navbar-nav > li > a {
	color: #028da8;
	font-size: 16px;
	font-weight: 300;
	padding-top: 22px;
	padding-bottom: 22px;
}

.navbar-nav li.help-link a { padding-top: 20px !important }

.navbar-nav li a:hover .fa.fa-user-voice,
.navbar-nav li.active .fa.fa-user-voice {
	background: url('/theme/bluedrop/img/icons/user-voice-icon.png') 0 -18px;
}

.navbar-nav li.notifications-link a { position: relative }

.navbar-nav li.notifications-link .label {
	border-radius: .75em;
	font-size: 68%;
	padding: .2em .4em .2em;
	position: absolute;
	right: 3px;
	top: 17px;
}

.navbar-nav li.dropdown a {
	padding-top: 19px;
	padding-bottom: 15px;
}

.navbar-nav li.dropdown img {}

.navbar-nav li.dropdown a div {
	display: inline-block;
	margin-left: 5px;
}

.navbar-nav li.dropdown ul.dropdown-menu,
.navbar-nav li.dropdown ul.dropdown-menu li.divider { padding: 0 }
.navbar-nav li.dropdown ul.dropdown-menu li.divider { margin: 0 }

.navbar-nav li.dropdown ul.dropdown-menu a {
	padding-top: 15px;
	padding-bottom: 15px;
}

.jumbotron {
	background: #fff;
	border-radius: 0 !important;
	margin-bottom: 0;
	text-align: center;
}

.jumbotron img {
	display: inline-block !important;
}

.btn.btn-default {
	background-color: #f5fcfd;
	border-color: #cde9ee;
	color: #008da8;
}

.btn.btn-primary {
	background-color: #3498db;
	border-color: #4988bb;
	color: #fff;
}

.powered-by {
	color: #6f6f6f;
	font-size: 11px;
	padding: 2px 0;
	text-align: right;
}

.blue-background { background-color: #e5f3f6 }

.bordered {
	border: 1px solid #cfcfcf;
}

.bordered.bordered-blue-top {
	border-top: 5px solid #3498db;
}

.bordered.bordered-no-north-south {
	border-top: none;
	border-bottom: none;
}

.media {
	padding: 20px 25px 0;
}

.media-body {
	height: 160px;
	min-height: 160px;
	position: relative;
}

.media-body h4 {
	margin-bottom: 10px;
}

.media-body p {
	color: #777777;
	margin-bottom: 15px;
}

.media-body .btn-view-media {
	bottom: 0;
	position: absolute;
	right: 0;
}

.watch-welcome-video {
	margin-top: 10px;
	padding: 0;
}

.watch-welcome-video h5 { font-size: 16px }
.watch-welcome-video h5 img { margin-right: 10px }

.ekko-lightbox .modal-header { background: #008da8 }

.ekko-lightbox .modal-header .modal-title {
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.ekko-lightbox .modal-header .close {
	color: #fff;
	opacity: 1;
	text-shadow: none;
}

.ekko-lightbox .modal-footer label {
	padding-top: 7px;
}

#ProgramForm .form-group { margin-bottom: 0; }

.panel-title h3 { font-size: 16px; }

.panel-title span {
	color: #A7A7A7;
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	margin-top: 2px;
}

.panel-status { font-size: 14px; font-weight: 400; }

.list-group-item-success .badge {
	background-color: #749A65;
}

