body {
    background: image_url('default/header-bg.jpg') 0 0 repeat-x #d2d2d2;
}

#homepage-carousel {
    height: 517px;
    position: relative;

    .carousel-indicators {
        bottom: 60px;
        left: 70px;

        li {
            background-color: #b2b2b2;
            border-color: #b2b2b2;

            &.active {
                background-color: #434343;
                border-color: #434343;
            }
        }
    }

    .item {
        height: 535px;
    }
}

.panel.panel-primary {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 28px;

    .panel-heading {
        background: image_url('default/panel-heading-bg.png') #0d76bd !important;
        background-size: cover;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: 20px 20px 21px;

        .panel-title {
            font: {
                size: 28px;
                weight: 300;
            }
            text-transform: uppercase;
        }
    }

    .list-group {
        background-color: #3475BE;
        border-radius: 0;
        padding: 25px 20px 30px 21px;

        .list-group-item {
            background-color: #3475BE;
            border: {
                top: 0;
                right: 0;
                bottom: 1px dotted #1259AA;
                left: 0;
            }
            margin-bottom: 0;
        }

        .list-group-item a {
            color: #fff;
            font: {
                size: 14px;
                weight: 400;
            }
        }
    }
}