body {
	width:100%;
	min-width:1000px;
}

.main {width:990px; overflow:hidden;}
#confirm input {line-height:22px;}

#newsletter-form > input {line-height:26px;}

div.col-green, div.col-blue, div.col-light-blue {
	behavior: url('js/PIE.htc');
	position:relative;
}


.list-soc {margin-right:25px;}

.sf-menu {margin-right:30px;}