.grid-container {
  padding: 0;
  margin: 0;
  text-align: center;
}
.grid-container > li,
.grid-container > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* gird classes */
.grids-2 > li,
.grids-2 > div {
  margin: 0px;
  margin-top: 0;
  display: block;
  width: 49.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  float: left;
  list-style: none;
}
.grids-2 > li .items,
.grids-2 > div .items {
  padding: 20px;
  padding-top: 0;
  padding-right: 0px;
  overflow: hidden;
}
.grids-3 > li,
.grids-3 > div {
  margin: 0px;
  margin-top: 0;
  display: block;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  float: left;
  list-style: none;
}
.grids-3 > li .items,
.grids-3 > div .items {
  padding: 5px;
  overflow: hidden;
}
.grids-4 > li,
.grids-4 > div {
  margin: 0px;
  margin-top: 0;
  display: block;
  width: 24.75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  float: left;
  list-style: none;
}
.grids-4 > li .items,
.grids-4 > div .items {
  padding: 5px;
  overflow: hidden;
}
.grids-12 > li,
.grids-12 > div {
  margin: 0px;
  margin-top: 0;
  display: block;
  width: 8.25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  float: left;
  list-style: none;
}
.grids-12 > li .items,
.grids-12 > div .items {
  padding: 5px;
  overflow: hidden;
}
.grid-buttons {
    text-align: right ;
    display: block;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: #6CAC3A; 
    /*padding: 5px;*/
    border-radius: 3px;
    height: 50px;
    line-height: 50px;
}

.grid-buttons .btn {
    background-color: #6CAC3A;
    background-image: none;
    border-image: none;
    border-bottom: none;
    border-radius: 0;
}

#main-content .grid-buttons a{
    //display: inline-block;
    height: 40px;
    padding-top: 10px;
    font-size: 16px;
   
}
#main-content .grid-buttons a,
#main-content .grid-buttons a:link, 
#main-content .grid-buttons a:visited,
 .grid-buttons a:active {
    color: #fff;
    padding: 5px;
    /*height: 60px;*/
    /*line-height: 30px;*/
    
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    border-bottom: none;
    border-bottom: none;
}

#main-content .grid-buttons a:hover {
    color: #E85F02;
    color: #EF9C2B;
}