body {
    -webkit-font-smoothing: antialiased;
}

a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
/*------ template stylization ------*/
/* headings, text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #383838;
  font-weight: bold;
  line-height: 1.2em;
  font-weight:normal !important;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  font-weight: bolder;
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
  color: #434343;
}
h3 {
  font-size: 21px;
  text-transform: uppercase;
}
h1#page-title {
  border-bottom: #d2d2d2 1px solid;
  padding-bottom: 12px;
  margin-bottom: 31px;
}
h4 {
  font-size: 23px;
  text-transform: uppercase;
  margin: 46px 0 18px 0;
}
h4.h4-border {
  border-bottom: #d2d2d2 1px solid;
  padding-bottom: 12px;
  margin-bottom: 31px;
}
h5 {
  font-size: 18px;
  color: #939393;
  font-weight: 600;
}

[class*="span"].centered {
  text-align: center;  
  margin-right: auto;
  margin-left: auto;
/*   display: block; */
}

footer .centered p {
  width: 800px;
  margin:auto;
}

p {
  font-size: 11px;
  line-height: 20px;
  color: #494949;
  margin: 20px 0 20px;
  text-decoration: none;
  font-weight:normal !important;
  -webkit-font-smoothing: antialiased;
}

.lead {
  font-size: 13px;
  line-height: 20px;
  color: #494949;
  margin: 0;
  text-decoration: none;
}

a.lead {
  text-decoration: none;
}

a.lead:hover {
  text-decoration: underline;
}

.img-rounded {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: #d2d2d2 5px solid;
  width: 100%;
}

.text-info {
  color: #494949;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

.link {
  color: #262626;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  display: inline-block;
  background: url(../../img/theme/link.gif) right 7px no-repeat;
  padding-right: 10px;
  margin-top: 20px;
  text-decoration: none;
}
div.required label:after {
  content: ' *';
  color: #990000;
  display:inline;
}
p.eoe {
  color: #444;
  font-size: 11px;
}
.link-2 {
  color: #373737;
  text-decoration: none;
}
.link-2:hover {
  text-decoration: underline;
}
.clr {
  color: #373737;
}
.underline {
  text-decoration: underline;
}
.upper {
  text-transform: uppercase;
}
.top-0 {
  margin-top: 0 !important;
}
.bot-0 {
  margin-bottom: 0 !important;
}
.left-0 {
  margin-left: 0 !important;
}
.last {
  margin-right: 0 !important;
}
.indent-1 {
  margin-top: 58px;
}
.indent-2 {
  margin-top: 50px;
}
.indent-3 {
  padding-top: 23px;
}
.p0 {
  padding-bottom: 0px !important;
}
.p1 {
  margin-bottom: 7px !important;
}
.p2 {
  margin-bottom: 9px !important;
}
.p3 {
  margin-bottom: 40px !important;
}
.img-indent {
  margin: 29px 0 28px 0;
}
.extra-wrap {
  overflow: hidden;
}
ul.list,
ul.list-2 {
  margin: 0;
  list-style: none;
}
ul.list li {
  padding: 5px 0 5px 13px;
  background: url(../../img/theme/marker.gif) 0 12px no-repeat;
  font-size: 12px;
  line-height: 20px;
}
ul.list li a {
  color: #8e8e8e;
  text-decoration: underline;
}
ul.list li a:hover {
  color: #262626;
}
ul.list-2 li {
  padding: 5px 0 5px 13px;
  background: url(../../img/theme/marker.gif) 0 12px no-repeat;
  font-size: 12px;
  line-height: 20px;
}
ul.list-2 li a {
  color: #8e8e8e;
  text-decoration: none;
}
ul.list-2 li a:hover {
  color: #262626;
}

#login-or-register {
  /* margin-left: 270px; */
  text-align: right;
  
}

@media (max-width: 1199px) and (min-width: 980px) {
  #login-or-register {
    margin-left: 210px;
    text-align: right;
  }
}

.welcome {
  clear: right;
  float: right;
  margin: 10px 0 0;
  padding:  0 10px;
  text-align: right;
  width: 373px;
}

.welcome p {
  color: #fff;
  font-size: 14px;
  margin: 0;
}

.welcome span {
  display: block;
}

  #main-content {
    padding-top: 28px
    width: 90%;
    margin-right: 0;
}

/**/
/* buttons*/

.btn-group {
  padding-right: 40px;
}
.btn_ {
  background-color: #3b3b3b;
  background-image: -moz-linear-gradient(top, #454545, #2c2c2c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#2c2c2c));
  background-image: -webkit-linear-gradient(top, #454545, #2c2c2c);
  background-image: -o-linear-gradient(top, #454545, #2c2c2c);
  background-image: linear-gradient(to bottom, #454545, #2c2c2c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff454545', endColorstr='#ff2c2c2c', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: none;
  text-shadow: none;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 13px 8px 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
.btn-large_ {
  padding: 10px 12px 10px 14px;
  font-size: 23px;
  line-height: 26px;
  text-transform: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.btn-large_ span {
  padding: 0px 50px 4px 0px;
  display: block;
  background: url(../../img/theme/btn-marker.png) right 2px no-repeat;
}
.btn-small_ {
  padding: 8px 18px 8px 18px;
  background: url(../../img/theme/btn.jpg) 0 0 repeat-x #2c2c2c;
  color: #ffffff;
}
.btn_:hover {
  color: #fff;
  background: #535353;
}
/**/
/*----------- Back to top --------------*/
#toTop {
  display: none;
  width: 37px;
  height: 37px;
  overflow: hidden;
  background: url(../../img/theme/totop.png) 0 0 no-repeat;
  position: fixed;
  margin-right: -640px !important;
  right: 50%;
  bottom: 40px;
  z-index: 999;
}
#toTop:hover {
  background-position: right 0;
}
#toTop:active,
#toTop:focus {
  outline: none;
}
/*------ header ------- */
header {
  padding: 40px 0 41px 0;
  background: url(../../img/theme/header.jpg) 0 0 repeat-x #d2d2d2;
  position: relative;
  z-index: 999;
  /* background-color: #F0F0F0; */
}

.masthead {
  padding-bottom: 10px;
  padding-top: 10px;
}

.masthead .btn-group-1 {
  padding: 10px;
  padding-right: 40px;
  padding-top: 0;
}
.header-block {
  background-color:#FFF;
  /*background: url(../../img/theme/header-block-blue.png) 0 0 repeat-x #00529c;*/
/*   -webkit-border-radius: 6px; */
/*   -moz-border-radius: 6px; */
/*   border-radius: 6px; */
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 999;
  /* padding-top :20px; */
  padding-bottom
}
.header-block-pad {
  /*padding: 53px 31px 46px 31px;*/
  padding: 20px 30px 0 0;
}
h1.brand {
  display: inline-block;
  margin: 0px 0 0;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: none;
}
h1.brand a {
  display: block;
  font-size: 0;
  line-height: 0px;
}
h1.brand span {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #737373;
  font-weight: normal;
  margin: -1px 0 0 2px;
  letter-spacing: 0;
}
.contacts {
  float: right;
  display: inline-block;
  margin: 7px 62px 0 0px;
  padding: 6px 45px 10px 0;
  color: #ffffff;
  line-height: 22px;
  background: url(../../img/theme/line-1.png) right 0 repeat-y;
}
.contacts span,
.contacts a {
  color: #747474;
  text-decoration: none;
}
.contacts a:hover {
  color: #fff;
}
#search-form
{
  margin-left:10px;
}
/* search-form */.navbar-form {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 30px 10px 30px 0;
  float: right;
  height: 80px;
}
.navbar-form input {
  background: #fff;
  border: 1px solid #CCC;
  box-shadow: none;
  line-height: 18px;
  width: 250px;
  float: left;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 5px;
}
.navbar-form input:focus {
  box-shadow: none;
}
.navbar-form a {
  margin: 0;
  display: inline-block;
  width: 40px;
  height: 33px;
  background: url(../../img/theme/search.png) 0 -2px no-repeat;
  float: right;
}
.navbar-form a:hover {
background: url(../../img/theme/search.png) right 0 no-repeat;
}
/**/
/* navbar */
.navbar_ {
  margin: 0 0 0 0;
}
.navbar_ .navbar-inner_ {
  padding: 10px 0px 14px 45px;
  margin: 0;
  background: url(../../img/theme/inside-slug-bg_03.png) 0 0 repeat-x;
  border: none;
  min-height: inherit;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 0px;
}

.social-icn ul {
  margin-right: 40px;
  
}

.social-icn a {
  color:#E85E02;
}

.social-icn li {
  display: inline-block;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;    
}

.social-icn a [class^="icon-"], .social-icn a [class*=" icon-"] {
color:#EF9C2B;
    
color:#FFF;
font-size: 41px;
}


.social-icn a:hover [class^="icon-"], .social-icn a:hover [class*=" icon-"] {
/* color:#E16A1C; */
 
color:#EF9C2B;
}

/*nav*/
.navbar_ .container {
  position: relative;
}
.nav-collapse_ {
  float: left;
  padding-top: 8px;
}
.nav-collapse_ .nav li {
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
/*   display: inline-block; */
  /* float: left; */
  /* width: 160px; */
}

.nav-collapse_ .nav li ul li {
  width: 160px;
  display:block;
  float: left;
  vertical-align: mi;
}

.nav-collapse_ .nav > li {
  background: url(../../img/theme/line-1.png) 0 0 repeat-y;
  padding: 0 18px 0 18px;
  line-height: 17px;
}
.nav-collapse_ .nav > li.li-first {
  background: none;
  padding-left: 0;
}
ul.nav li:first-child {
  background: none;
  padding-left: 0;
}
#middle-nav ul.nav li a {
  border-bottom: 1px dotted #1259AA;
  font-size: 14px;
  padding: 8px 0 8px 20px;
  /* background: url(../../img/theme/marker.gif) 0 15px no-repeat; */
  color: #fff;
}

#middle-nav ul.nav li a:hover {
  background-color: transparent;
  background-image: none;
}
.nav-collapse_ .nav li a {
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
}
.nav-collapse_ .nav > li > a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.nav-collapse_ .nav > li.li-first.sfHover a img,
.nav-collapse_ .nav > li.li-first:hover a img,
.nav-collapse_ .nav > li.li-first.active a img,
.nav-collapse_ .nav > li.li-first.active a img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.nav-collapse_ .nav > li.sfHover > a,
.nav-collapse_ .nav > li.sfHover > a:hover,
.nav-collapse_ .nav > li > a:hover,
.nav-collapse_ .nav > li.active > a,
.nav-collapse_ .nav > li.active > a:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #A0CF67;
  background: none;
}
.sub-menu > a {
  position: relative;
}
.nav-collapse_ .nav > li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: url('../../img/theme/li-marker.png') left top no-repeat;
  width: 7px;
  height: 5px;
  right: 50%;
  top: 50%;
  margin: 10px -3px 0 0;
/*   border-right: 1px solid #fff; */
}
.nav-collapse_ .nav ul {
  position: absolute;
  display: none;
  width: 320px;
  max-width: 320px;
  left: 0px;
  top: 42px;
  list-style: none;
  zoom: 1;
  z-index: 9;
  /* background: url(../../img/theme/nav-ul.jpg) 0 0 repeat-x #383838; */
  padding: 20px 0 24px 0;
  margin: 0;
  max-height: 450px;
  background-color: #6a737b;
}
.nav-collapse_ .nav > li li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: url('../../img/theme/li-marker.png') left top no-repeat;
  width: 7px;
  height: 5px;
  right: 10px;
  top: 10px;
}

.nav-collapse_ .nav > li li.sub-menu li {
  width: 160px;
  display: inline-block;
}
.nav-collapse_ .nav ul li a {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  padding: 7px 10px 8px 24px;
  background: none;
}
.nav-collapse_ .nav > li > ul li > a:hover,
.nav-collapse_ .nav > li > ul li.sfHover > a {
  text-decoration: none;
  /* background: #a9a9a9; */
  /* color: #E85E02; */
}

.nav-collapse_ .nav > li > ul li > a:hover {
  color: #A0CF67;
}
.nav-collapse_ .nav ul ul {
  position: absolute;
  display: none;
  width: 158px;
  left: 158px;
  top: -20px;
  height: auto;
  list-style: none;
  z-index: 111;
  background: url(../../img/theme/nav-ul.jpg) 0 0 repeat-x #383838;
  padding: 20px 0 24px 0;
  margin: 0;
}
/**/
/*social-icons*/
.social-icons {
  float: right;
  display: inline-block;
  margin: 0px 34px 0 0px;
}
.social-icons li {
  float: left;
  display: inline-block;
  margin-left: 3px;
}
.social-icons li a {
  background: transparent url(../../img/theme/social-media-logos.png) no-repeat;
  display: block;
  height: 32px;
  text-indent: -9999px;
  width: 33px;
}

.social-icons li a.facebook { background-position: 0 0 }
.social-icons li a.facebook:hover { background-position: 0 -32px }

.social-icons li a.twitter { background-position: -33px 0 }
.social-icons li a.twitter:hover { background-position: -33px -32px }

.social-icons li a.linkedin { background-position: -66px 0 }
.social-icons li a.linkedin:hover { background-position: -66px -32px }

.social-icons li a.youtube { background-position: -99px 0 }
.social-icons li a.youtube:hover { background-position: -99px -32px }

.social-icons li a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.social-icons a { color: #fff}
/**/
/* slider */
.slider {
  position: relative;
  z-index: 1;
  padding: 0;
  margin-top: -68px;
  height: 442px;
}
.maps-holder {
  width:100%;
  background-color:#A0CF67;
  padding-bottom: 70px;
  padding-top: 40px;
}
.maps-holder img {
  border:5px solid #FFF;
}
.maps-holder h5 {
  color:#FFF;
  margin-bottom: 20px;
  font-weight: bold !important;
}
.camera_wrap {
  margin-bottom: 0 !important;
}
.camera_thumb {
  width: 150px;
  height: auto;
}
.camera_wrap .camera_pag {
  position: absolute;
  bottom: 40px;
  left: 2px;
  z-index: 999;
}
.camera_wrap .camera_pag .camera_pag_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 40px;
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
  display: none;
  
}
.camera_wrap .camera_pag .camera_pag_ul li {
  background: #b2b2b2;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
 
}
.camera_wrap .camera_pag .camera_pag_ul li:hover {
  background: #434343;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
  background: #434343;
  cursor: default;
}
.camera_caption {
  top: 0px;
  left: 0px;
  display: block;
  position: absolute;
  width: 100%;
  padding-left: 40px;
}
.camera_caption > div {
  padding: 103px 0 0 0px;
}
.camera_caption h5 {
  margin: 0;
  color: #a7a7a7;
}
.camera_caption h2 {
  margin: 32px 0 0px 0;
}
.camera_caption h1 {
  color: #ffffff;
  margin: -18px 0 0 0;
  font-size: 70px;
}
.camera_caption a {
  margin-top: 36px; 
}
/*--- header end ------*/
/*------ content ------- */

/* events  */

.event.list {
  margin-bottom: 40px;
  
}

#content {
  background-color: #FFF;
  background: #FFF;
  padding-bottom: 28px;
}
.sub-content {
  background: url(../../img/theme/content.jpg) 0 0 repeat-x #f0f0f0 !important;
}
#middle-nav {
  padding-bottom: 28px;
}
/* thumbnails */
.thumbnails {
  margin-bottom: 0;
}
.thumbnails li {
  margin-bottom: 0px;
}
.thumbnails .thumbnail {
  /* background-color: #d6d6d6; */
  background-image: -moz-linear-gradient(top, #d1d1d1, #dedede);
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d1d1d1), to(#dedede)); */
  /* background-image: -webkit-linear-gradient(top, #d1d1d1, #dedede); */
  background-image: -o-linear-gradient(top, #d1d1d1, #dedede);
  /* background-image: linear-gradient(to bottom, #d1d1d1, #dedede); */
  /* background-repeat: repeat-x; */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd1d1d1', endColorstr='#ffdedede', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
/*   -webkit-border-radius: 6px; */
/*   -moz-border-radius: 6px; */
  /* border-radius: 6px; */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  margin: 28px 0 0 0;
  padding: 0;
  background-color: #3475BE;
}
.thumbnails .thumbnail .caption {
  padding: 20px 20px 20px 21px;
  /*background-color: #404040;
  background-image: -moz-linear-gradient(top, #454545, #393939);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#393939));
  background-image: -webkit-linear-gradient(top, #454545, #393939);
  background-image: -o-linear-gradient(top, #454545, #393939);
  background-image: linear-gradient(to bottom, #454545, #393939);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff454545', endColorstr='#ff393939', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/

  background-color:#0d76bd;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
   border-top-left-radius: 1px;
  background-image: url("../../img/theme/slug-bg-blue.png");
  background-size: cover;
}
.thumbnails .thumbnail h3 {
  color: #ffffff;
  font-size: 22px;
  margin: -3px 0 0 0;
}
.thumbnails .thumbnail h5 {
  margin: 0;
}
.thumbnails .thumbnail .thumbnail-pad {
  padding: 25px 20px 30px 21px;
}
.thumbnails .thumbnail a.btn_ {
  margin-top: 3px;
}
/**/
/* thumbnails_2 */
.thumbnails_2 {
  margin: 0px 0 0 -25px;
  padding-top: 8px;
}
.thumbnails_2 li.thumbnail_2 {
  margin: 0px 0px 24px 25px;
  padding: 0;
  display: block;
  float: left;
  width: 137px;
}
.thumbnails_2 .thumbnail_2 .img-rounded {
  margin: 0px 0 16px 0;
}
/**/
/*lists*/
.lists {
  overflow: hidden;
}
.lists ul {
  margin-top: 15px;
}
.lists .span4.left-0 ul {
  border-right: #d2d2d2 1px solid;
}
.lists-width2 {
  overflow: hidden;
  margin-left: -15px;
}
.lists-width2 ul {
  margin-left: 15px;
  margin-top: 33px;
  width: 140px;
  float: left;
}
/**/
/*banners*/
.banners {
  margin: 0 0 0px -30px;
  overflow: hidden;
}
.banners li {
  margin-left: 30px;
  float: left;
  display: inline-block;
  margin-top: 18px;
}
/**/
/* thumbnail_3 */
.thumbnails_3 {
  margin: 0px 0 0 0px;
}
.thumbnails_3 .thumbnail_3 {
  margin: 27px 0 0px 0px;
}
.thumbnails_3 .thumbnail_3 {
  background: transparent;
  border: none;
  padding: 0;
  display: block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.thumbnails_3 .thumbnail_3 figure {
  margin: 0px 0 15px 0;
}
.thumbnails_3 .thumbnail_3 figure img {
  width: 100%;
}
/**/
/* thumbnail_4 */
.thumbnails_4 {
  margin: 0px 0 0 0px;
}
.thumbnails_4 .thumbnail_4 {
  margin: 27px 0 10px 0px;
}
.thumbnails_4 .thumbnail_4 {
  background: none;
  border: none;
  padding: 0;
  display: block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.thumbnails_4 .thumbnail_4 figure {
  margin: 0px 0 15px 0;
}
.thumbnails_4 .thumbnail_4 figure img {
  width: 100%;
}
/**/
/*list-news*/
.list-news {
  margin: 0 0 0 0;
}
.list-news li {
  display: block;
  margin-top: 30px;
}
.list-news li:first-child {
  margin-top: 0 !important;
}
.list-news li .text-info {
  margin-top: 15px;
}
.list-news li a.btn_ {
  margin-top: 0;
}
/**/
/*list-services*/
.list-services {
  margin: 0 0 0 -40px;
}
.list-services li {
  display: block;
  float: left;
  overflow: hidden;
  margin-top: 20px;
  width: 330px;
  margin-left: 40px;
  min-height: 180px;
}
.list-services li > div {
  overflow: hidden;
}
.list-services li img {
  float: left;
  margin-top: 3px;
}
/**/
.text-block-1 {
  padding-top: 7px;
}
.text-block-1 div {
  overflow: hidden;
  padding-bottom: 5px;
}
.text-block-1 img {
  float: left;
  margin-right: 20px;
  width: auto;
}
/*-- contacts page --*/
.map {
  padding: 7px 0 9px 0;
}
.map iframe {
  width: 100%;
  height: 353px;
  border: #d2d2d2 5px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
address strong {
  font-weight: normal;
}
address span {
  display: inline-block;
  width: 70px;
}
.contact-form {
  padding-top: 11px;
}
.contact-form input {
  color: #939393;
  height: 36px;
  width: 270px;
  padding: 10px 0 11px 18px;
  line-height: 17px !important;
  margin: 0;
  border: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  float: left;
}
.contact-form label {
  min-height: 56px;
  position: relative;
  overflow: hidden;
  margin: 0;
  display: block;
  width: 100%;
}
.contact-form .error,
.contact-form .empty {
  display: none;
  position: relative;
  font-size: 11px;
  line-height: 14px;
  color: #9d261d;
  float: left;
  margin: 2px 0 4px 10px;
  min-width: 160px;
}
.contact-form .success {
  display: none;
  color: #1c2129;
  padding-bottom: 5px;
}
.contact-form textarea {
  width: 100%;
  height: 246px;
  padding: 9px 0 0 18px;
  margin: 0;
  resize: none;
  color: #939393;
  border: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  float: left;
}
.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: none;
}
.contact-form .btn_ {
  margin: 31px 0 0 16px;
}
/*privacy*/
.float {
  float: left;
}
.float2 {
  float: right;
}
/**/
/*404 page*/
.block-404 .span8 {
  padding-top: 14px;
  text-align: center;
}
.block-404 .span4 {
  padding-top: 37px;
}
.block-404 h1 {
  margin: 0px;
  font-size: 60px;
}
.block-404 h4 {
  margin: 28px 0 39px 0;
}
.form-404 {
  width: 100%;
  margin-top: 35px;
}
.form-404 input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  background: #fff;
  margin: 0;
  box-shadow: none;
  height: 30px;
  width: 175px;
  line-height: 17px;
  padding: 7px 10px 8px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.form-404 input:focus {
  box-shadow: none;
}
.form-404 a.btn_ {
  margin: 0;
  width: 91px;
  text-align: center;
  padding: 7px 0 8px 0;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
}
/**/
/*-- end contacts --*/
/*--- content end ------*/
/*------ footer ------- */
footer {
  padding: 26px 0 38px 0;
  /*background-color: #d8d8d9;*/
  background-image: -moz-linear-gradient(top, #d2d2d2, #e2e1e3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d2d2d2), to(#e2e1e3));
  background-image: -webkit-linear-gradient(top, #d2d2d2, #e2e1e3);
  background-image: -o-linear-gradient(top, #d2d2d2, #e2e1e3);
  background-image: linear-gradient(to bottom, #d2d2d2, #e2e1e3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd2d2d2', endColorstr='#ffe2e1e3', GradientType=0);
  behavior: url('js/PIE.htc');
  position: relative;

  background: #FFF;
}
footer .span8 > a {
  text-decoration: underline;
}
.footer-menu {
  display: block;
  border-bottom: #cacaca 1px solid;
  padding: 12px 0 47px 0;
  margin: 0 0 27px 0;
}
.footer-menu li {
  display: inline-block;
  float: left;
  color: #b6b6b6;
  font-size: 11px;
  line-height: 15px;
}
.footer-menu li a {
  margin: 0 12px;
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-menu li:first-child a {
  margin-left: 0;
}
.footer-menu li a:hover,
.footer-menu li a.current {
  text-decoration: underline;
}
/* form newsletter */
form#newsletter {
  margin: 0;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #e5e5e5, #eaeaeb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e5e5), to(#eaeaeb));
  background-image: -webkit-linear-gradient(top, #e5e5e5, #eaeaeb);
  background-image: -o-linear-gradient(top, #e5e5e5, #eaeaeb);
  background-image: linear-gradient(to bottom, #e5e5e5, #eaeaeb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffeaeaeb', GradientType=0);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 25px 27px 28px 28px;
}
form#newsletter input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  background: #fff;
  margin: 0;
  box-shadow: none;
  height: 30px;
  line-height: 15px;
  padding: 7px 10px 8px 10px;
  width: 154px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
form#newsletter input:focus {
  box-shadow: none;
}
form#newsletter a.btn_ {
  margin-top: 0;
  width: 91px;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
}
form#newsletter label {
  font-family: "Open Sans", sans-serif;
  color: #383838;
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 16px;
  display: block;
  text-transform: none;
}
footer h5 { color: #444; }
footer .copyright { margin-top: 0; padding-top: 20px;}

footer p.logos {
    font-size: 13px;
  font-size 13px;
    padding-bottom: 0px;
}


/**/
/*--- footer end ------*/
/*----- media queries ------*/
@media (min-width: 1200px) {
  .slider {
    height: 550px;
  }
  .camera_caption > div {
    padding: 123px 0 0 0px;
  }
  .camera_caption h5 {
    margin: 0;
    color: #A8D52A;
    font-size: 21px;
  
    font-weight: bold !important;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
  .camera_caption h2 {
    margin: 42px 0 0px 0;
    font-size: 40px;
  
    color: #E85E02;
}
  .camera_caption h1 {
    color: #C0EC0F;
    margin: -18px 0 0 0;
    font-size: 100px;
  }
  .camera_caption a {
    margin-top: 54px;
  }
  .camera_wrap .camera_pag {
    bottom: 48px;
  }
  .camera_wrap .camera_pag .camera_pag_ul li {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .thumbnails .thumbnail h3 {
    font-size: 28px;
  }
  form#newsletter input {
    width: 224px;
  }
  .lists-width2 {
    margin-left: -30px;
  }
  .lists-width2 ul {
    margin-left: 30px;
    width: 170px;
  }
  .thumbnails_2 {
    margin: 0px 0 0 -30px;
  }
  .thumbnails_2 li.thumbnail_2 {
    margin: 0px 0px 24px 30px;
    width: 170px;
  }
  .list-services {
    margin: 0 0 0 -130px;
  }
  .list-services li {
    width: 370px;
    margin-left: 130px;
    min-height: inherit;
  }
  .form-404 input {
    width: 223px;
  }
}
@media (max-width: 1199px) {
  
}
@media (min-width: 980px) and (max-width: 1199px) {
  
}
@media (min-width: 979px) {
  
}
@media (max-width: 979px) {
  .slider {
    height: auto;
  }
  .thumbnails .thumbnail .caption {
    padding: 10px 10px 10px 10px;
  }
  .thumbnails .thumbnail .thumbnail-pad {
    padding: 15px 20px 15px 21px;
  }
  .thumbnails .thumbnail h3 {
    font-size: 28px;
  }
  form#newsletter {
    margin-bottom: 20px;
    padding: 15px 27px 15px 28px;
  }
  form#newsletter input {
    width: 100%;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
  }
  form#newsletter a.btn_ {
    margin-top: 15px;
    float: right;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
  }
  /**/
  .thumbnails_2 {
    margin: 0px 0 0 -30px;
  }
  .list-services li {
    min-height: inherit;
    width: inherit;
  }
  .cols-1 .span4 img {
    width: inherit !important;
  }
  .thumbnails_2 li.thumbnail_2 img {
    width: 100%;
  }
  .text-block-1 img {
    float: none;
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100% !important;
  }
  .form-404 input {
    width: 100%;
    float: none;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
  }
  .form-404 a.btn_ {
    float: right;
    margin-top: 20px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
  }
  .footer-menu li a {
    margin: 0 6px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .navbar-form input {
    width: 120px;
  }
  .contacts {
    margin-right: 20px;
    padding-right: 20px;
  }
  /* navbar */
  .navbar-inner_ .btn-navbar {
    display: none;
  }
  .navbar-inner_ .nav-collapse {
    overflow: visible;
    height: auto;
  }
  .navbar-inner_ .nav-collapse_ .nav > li {
    padding: 0 10px 0 10px;
    float: left;
  }
  .nav-collapse_ .nav > li.li-first {
    background: none;
    padding: 0 18px 0 0px;
  }
  .nav-collapse_ .nav > li > a {
    margin-bottom: 0;
  }
  /**/
  /*slider*/
  .camera_caption > div {
    padding: 103px 0 0 0px;
  }
  .camera_caption h5 {
    display: none;
  }
  .camera_caption h2 {
    margin: 0px 0 0px 0;
  }
  .camera_caption h1 {
    color: #ffffff;
    margin: -18px 0 0 0;
    font-size: 55px;
  }
  .camera_caption a.btn-large_ {
    margin-top: 15px;
    padding: 6px 12px 10px 14px;
  }
  .camera_caption a.btn-large_ span {
    padding: 0px 0px 0px 0px;
    display: block;
    background: none;
  }
  /**/
  .cols-1 div + div {
    margin-left: 0 !important;
  }
  .cols-1 .span4 {
    width: 100% !important;
  }
  /* */
  .thumbnails .span3 {
    width: 352px;
  }
  .thumbnails .thumbnail p {
    min-height: 60px;
  }
  .thumbnails_2 li.thumbnail_2 {
    margin: 0px 0px 24px 30px;
    float: none;
    width: 228px;
  }
  /**/
  .lists .lists-width2 {
    width: 200px;
  }
  .lists-width2 {
    margin-left: -30px;
  }
  .lists-width2 ul {
    margin-left: 30px;
    width: 40%;
  }
  .thumbnails_4 .span3 {
    width: 352px;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
    margin: 0;
  }
  .container {
    padding: 0 20px;
  }
  .header-block-pad {
    padding: 18px 23px 14px 22px;
  }
  .contacts {
    padding-right: 0;
    margin-right: 0;
    margin-left: 40px;
    background: none;
  }
  .navbar-form input {
    width: 200px;
  }
  .navbar-form {
    margin-left: 20px;
  }
  .social-icons {
    margin: 5px 24px 0 0;
  }
  /* navbar */
  .navbar_ .navbar-inner_ {
    padding: 13px 0 10px 22px;
  }
  .navbar_ .nav-collapse_ {
    width: 100%;
    position: absolute;
    left: 0;
    top: 46px;
  }
  .navbar_ .btn {
    display: inline-block;
    float: left;
    background: #242424;
    padding: 12px 20px 12px 20px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    margin: 0;
    text-shadow: none;
    color: #ffffff;
    box-shadow: none;
    border: none;
  }
  .navbar_ .btn:hover {
    background-color: #747474;
  }
  .nav-collapse_ .nav {
    position: relative;
    zoom: 1;
    z-index: 999;
    width: 168px;
    background: url(../../img/theme/nav-ul.jpg) 0 0 repeat-x #383838;
    padding: 20px 0 24px 0;
    margin: 0;
  }
  .nav-collapse_ .nav li {
    line-height: 15px;
    background: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  .nav-collapse_ .nav li a {
    font-size: 11px;
    line-height: 15px;
    color: #ffffff;
    font-weight: normal;
    text-shadow: none;
    text-transform: uppercase;
    margin: 0;
    display: block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
  }
  .nav-collapse_ .nav > li > a,
  .nav-collapse_ .nav > li.li-first a {
    padding: 7px 10px 8px 28px;
  }
  .nav-collapse_ .nav > li.sfHover,
  .nav-collapse_ .nav > li:hover,
  .nav-collapse_ .nav > li.active,
  .nav-collapse_ .nav > li.active {
    background: none;
  }
  .nav-collapse_ .nav > li.sfHover > a,
  .nav-collapse_ .nav > li.sfHover > a:hover,
  .nav-collapse_ .nav > li > a:hover,
  .nav-collapse_ .nav > li.active > a,
  .nav-collapse_ .nav > li.active > a:hover {
    background: #a9a9a9;
    color: #ffffff;
  }
  .sub-menu > a {
    position: relative;
    display: block;
  }
  .nav-collapse_ .nav > li.sub-menu > a:before,
  .nav-collapse_ .nav > li li.sub-menu > a:before {
    content: "";
    position: absolute;
    background: url(../../img/theme/li-marker.png) left top no-repeat;
    width: 7px;
    height: 5px;
    right: 10px ;
    top: 50%;
    margin-top: -3px;
  }
  .nav-collapse_ .nav ul,
  .nav-collapse_ .nav ul ul {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    list-style: none;
    zoom: 1;
    z-index: 9;
    padding: 0px;
    margin: 0;
    background: transparent;
  }
  .nav-collapse_ .nav ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    padding: 7px 10px 8px 35px;
    display: block;
  }
  .nav-collapse_ .nav ul li > a:hover,
  .nav-collapse_ .nav ul li.sfHover > a {
    background: #a9a9a9;
  }
  .nav-collapse_ .nav ul ul li a {
    padding: 7px 10px 8px 40px;
    text-transform: none;
  }
  /**/
  /*slider*/
  .camera_caption {
    display: none !important;
  }
  .slider {
    margin-top: 0;
  }
  /**/
  .lists .span4.left-0 ul {
    border: none;
  }
  .lists-width2 {
    margin-left: -30px;
  }
  /**/
  .footer-menu {
    display: none;
  }
  .float {
    float: right !important;
  }
  .float2 {
    float: left !important;
  }
  /**/
}
@media (min-width: 626px) and (max-width: 767px) {
  .lists-width2 ul {
    margin-left: 30px;
    width: 45%;
  }
  .thumbnails_2 li.thumbnail_2 {
    margin: 0px 0px 24px 30px;
    float: left;
    width: 45%;
  }
  .thumbnails_4 {
    margin-left: -25px;
  }
  .thumbnails_4 .span3 {
    float: left;
    margin-left: 25px;
    width: 45%;
  }
}
@media (max-width: 625px) {
  .navbar-form {
    margin-left: 0;
    float: none;
  }
  .contacts {
    display: none;
  }
  /* contact-form */
  .contact-form input {
    width: 100%;
  }
  .thumbnails_2 li.thumbnail_2 {
    margin: 0px 0px 24px 30px;
    float: none;
    width: auto;
  }
}
/**/
@media (min-width: 482px) and (max-width: 625px) {
  .lists-width2 ul {
    margin-left: 30px;
    width: 40%;
  }
  .thumbnails_2 li.thumbnail_2 {
    margin: 0px 0px 24px 30px;
    float: left;
    width: 42%;
  }
  .thumbnails_4 {
    margin-left: -25px;
  }
  .thumbnails_4 .span3 {
    float: left;
    margin-left: 25px;
    width: 43%;
  }
}
@media (max-width: 481px) {
  .banners li {
    display: block;
    float: none;
  }
  .banners li a {
    display: block;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 481px) {
  .lists-width2 ul {
    margin-left: 30px;
    width: 40%;
    float: left;
  }
  .camera_pag {
    left: 20px;
  }
}
@media (max-width: 320px) {
  .navbar-form input {
    width: 161px !important;
  }
  .lists-width2 ul {
    margin-left: 30px;
    float: none;
    width: 100%;
  }
  .list-services li img {
    float: none  !important;
    margin-bottom: 10px;
  }
  .slider {
    margin-left: -20px !important;
  }
  .camera_pag {
    left: 20px !important;
  }
}
/*Core variables and mixins*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*Dashboard*/
#dashboard {
  padding-top: 10px;
}

#dashboard .widget {
  margin-bottom: 10px;
}

#dashboard .widget-header {
  background: #7abcff; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhYmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzYwYWJmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDk2ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
  background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
  border: 1px solid #60abf8;
  border-bottom: 1px solid #2588EA;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-8 */
  padding: 0;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
     -moz-border-radius-topleft: 5px;
     -moz-border-radius-topright: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
}

#dashboard .widget-header h2 {
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding-left: 10px;
  text-shadow: 0 1px 3px #246AE2;
}

#dashboard .widget-header h2 i {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-right: 10px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

#dashboard .widget-content {}

#dashboard .widget-content ul {
  list-style: none;
  margin-left: 0;
  width: 100%;
}

#dashboard .widget-content li {
  border-bottom: 1px solid #ddd;
  line-height: 20px;
  padding: 10px 10px 10px 0;
  position: relative;
}

#dashboard .widget-content li .title {
  color: #454545;
  font-family: 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding-left: 10px;
}

#dashboard .widget-content li .details {
  color: #9a9a9a;
  font-family: 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  font-size: 12px;
  font-weight: 200;
  padding: 5px 0 5px 8px;
}

#dashboard .widget-content li .details i {
  color: #2588EA;
  font-size: 14px;
}

#dashboard .widget-content li .action {
  position: absolute;
  right: 10px;
  top: 30px;
}

#dashboard .widget-content li .action .btn {
  color: #333;
}

#dashboard #online-ecourses li .title,
#dashboard #online-registrations li .title,
#dashboard #online-orientations li .title,
#dashboard #online-enrollments li .title {
  margin-top: 8px;
}

#dashboard #online-registrations li .action,
#dashboard #online-orientations li .action,
#dashboard #online-enrollments li .action {
  top: 15px;
}

#dashboard #online-ecourses li .action {
  top: 25px;
}

span.label {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

span.label a {
  color: #fff;
}

#ecourse-quiz form {
  margin-top: 18px;
}

#ecourse-quiz .question { margin-bottom: 18px }

#ecourse-quiz li.question label.main-label {
  display: block;
  font-weight: bold;
}

#ecourse-quiz li.question .answer { margin-left: 10px }

#ecourse-quiz li.question input[type=radio] { margin-right: 8px }

#ecourse-quiz li.question input[type=radio],
#ecourse-quiz li.question input[type=radio] + label {
  margin-top: 10px;
}

#ecourse-quiz li.question input[type=radio] + label {
  color: #555;
}

#ecourse-quiz label.error {
  color: #F00;
  display: block;
  margin-left: 10px;
  margin-top: 5px;
}

#ecourse-quiz-results h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

#ecourse-quiz-results li {
  margin-bottom: 10px;
}

#ecourse-quiz-results p {
  margin-bottom: 4px;
  padding-left: 25px;
}

#ecourse-quiz-results p.correct-answer {
  background: url(../../img/theme/icons/accept.png) 0 0 no-repeat;
}

#ecourse-quiz-results p.incorrect-answer {
  background: url(../../img/theme/icons/exclamation.png) 0 0 no-repeat;
}

.pagination {
  margin: 20px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li.current,
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 21px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;

}
.pagination ul > li > a.next,
.pagination ul > li > a.prev,
.pagination ul > li > span.next,
.pagination ul > li.disabled > span {
  padding: 4px 8px;
}

.pagination ul > li > a:hover,
.pagination ul > .current,
.pagination ul > .current > a,
.pagination ul > .current > span {
  background-color: #f5f5f5;
}

.pagination ul > .current,
.pagination ul > .current > a,
.pagination ul > .current > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}

.pager {
  margin: 20px 0;
  text-align: center;
  list-style: none;
  *zoom: 1;
}

.pager:before,
.pager:after {
  display: table;
  line-height: 0;
  content: "";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.pager li > a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > span {
  color: #999999;
  cursor: default;
  background-color: #fff;
}

.hotJobs .job, .featuredEmployers .featuredEmployer,
.rfps .rfp {
  border-bottom: 1px solid #cdcdcd;
  margin: 8px 0 18px;
  padding: 0 0 12px;
}

.hotJobs .job h2,
.featuredEmployers .featuredEmployer h2,
.rfps .rfp h2 {
  margin: 0 0 12px 0;
}

.hotJobs .job p,
.featuredEmployers .featuredEmployer p,
.rfps .rfp p {
  margin: 0 0 12px;
}

.hotJobs .job ul,
.featuredEmployers .featuredEmployer ul,
.rfps .rfp ul{
  margin: 0 0 12px 10px;
}

.rfp_download {
  display: block;
  margin-left: 10px;
  width: 96px;
}
.rfp_download:hover {
  text-decoration: none;
}
.rfp_download img {
  margin: 0 0 0 16px;
}

.inTheNews,
.helpfulArticles {
  margin: 12px 0 0;
}

.inTheNews .article,
.helpfulArticles .article {
  border-top: 1px solid #D0E0EE;
  margin: 0 0 18px;
  padding: 8px 0;
}

.inTheNews .article .date,
.helpfulArticles .article .date {
  color: #666;
  margin: 0 0 12px;
}

.inTheNews .article h2,
.helpfulArticles .article h2 {
  font-size: 13px;
  margin: 0 0 2px;
}

.inTheNews .article .reporter,
.helpfulArticles .article .reporter {
  color: #888888;
  display: block;
  font-style: italic;
  margin: 0 0 12px;
}

.inTheNews .article .summary,
.helpfulArticles .article .summary {
  line-height: 1.4em;
  margin: 0 0 18px;
  width: 450px;
}

.counter {
  color: #A4A4A4;
}

.locations {
  margin: 15px 0 0;
}

.locations .location {
  border-top: 1px solid #D0E0EE;
  height: 200px;
  margin: 0 0 18px;
  padding: 25px 0;
}

.location_facilities {
  border-top: 1px solid #D0E0EE;
  margin: 0 0 18px;
  padding: 25px 0;
}

.survey form {
  margin: 18px 0;
}

.survey fieldset {
  border: 1px solid #BBB;
  padding: 8px 18px;
}
.survey fieldset legend {
  font-style: italic;
  margin: 0 0 0 15px;
}

.survey .input {
  border-bottom: 1px solid #dedede;
  padding: 0 0 10px;
}

.survey label {
  font-weight: bold;
}

.survey .rating label {
  display: inline;
}

.survey .rating input {
  width: 12px;
}

.input.error input,
.input.error select {
  margin-bottom: 3px;
}

.input.error .error-message {
  color: #900;
  margin-bottom: 8px;
}

.control-group.error .help-block.no-error {
	color: #b4b4b4 !important;
}

#events-slider {
	padding-bottom: 18px;
}

#events-slider h5 {
	color: #fff;
	margin: 0 !important;
}

#events-slider p {
	color: #fff;
	margin: 0 !important;
}

.field-instructions
{
  margin:0px 0 5px;
}
/* CONTENT */

#main-content {
 /* width: 90%; */

 margin-right: auto;
/*  padding-left:160px; */
 font-size: 16px;
 font-family: Arial;
 padding-top: 20px;
 color: #8E8E8E;
}

#main-content h1,
#main-content h2,
#main-content h3 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
/*    color: #494949; */
}

#main-content h1 {
  font-size: 42px;
  font-weight: normal;
}

#main-content a:link, #main-content a:link   {
  color: #0056B4;
  border-bottom: 1px dotted;
}


#main-content a:active, #main-content a:visited   {
  color: #0056B4;
  border-bottom: none;
}

#main-content a:hover {
  color:  #E85E02;
  border-bottom: none;
}

#main-content .post h2 {
  font-size: 28px;
  font-weight: normal;
  color: #E85E02;
}

#main-content .post h3 {
  font-size: 21px;
  font-weight: normal;
  color: #6F9408;
}

#main-content h1#page-title {
  color: #6CAC3A;
  border-bottom: 1px dotted #6CAC3A;
}

#main-content .post {
/*   padding-left:100px; */
padding-right: 40px;
}

#main-content p {
  font-size: 16px;
  line-height: 1.5;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
  color: #494949;
}

#main-content p strong {
  color: #0056B4;
}
#main-content table {
  background-color: transparent;
  background-image: none;
  font-size: 16px;
  line-height: 1.4;
}

#main-content h1#page-title {
  font-size: 36px;
  font-weight: 500;
  text-transform: capitalize;
}

#PageContentMedium {
  background-color: none;
  font-size: 16px;
}

.btn-group-1 a {
  color:#0D76BD;
}

.btn-group-1 a:hover, .btn-group-1 a:active {
  color:#F26122;
}

/* form styles */

#content > fieldset p {
    margin: 0;
}


#UserFirstname {
    width: 50%;
    margin: 0;
}
#content input[type="text"], 
#content input[type="password"],
#content input[type="datetime"],
#content input[type="datetime-local"],
#content input[type="date"],
#content input[type="month"],
#content input[type="time"],
#content input[type="week"],
#content input[type="number"],
#content input[type="email"],
#content input[type="url"],
#content input[type="search"],
#content input[type="tel"],
#content input[type="color"] {
 padding : 10;
 margin: 0;
 width: 50%;
 font-size: 16px;
 min-width: 250px;
    
}
#content select {
    width: 50%;
}

#content label {
    font-size: 16px;
    margin-bottom: 10px;
}

#content div.widget-header > h2 {
    text-shadow: none;
    color: #fff;
}

#content div.widget-header > h2 {
    text-shadow: none;
    color: #fff;
    font-size: 22px;
}
.steps-container div.inner-container {
  color: #575757; 
}


li.module span.steps.status {
color: #484F57 !important;
}

/* browser issue fix resize to 1180 */
@media (max-width: 1201px) {
  #twitter-widget-0, #social-stream {
    display: none !important;
    
  }
  
  header .search {
    display: none;
  }
  
#header-login.span8 {
    width:467px;
    float: right;
  }
  
  #login-or-register {
    margin-left:0px
    
  }
  
  .masthead .btn-group-1 {
    float: right;
    width: 200px}
  
 #main-content .home-content {
    width: 100%
  }
  
}


