@import"../theme/reset.css";
@import"../theme/skeleton.css";
@import"../theme/superfish.css";
@import"../theme/forms.css";
@import"../theme/elastislide.css";
@import"../theme/camera.css";
@import"../theme/atlas.css";

html {overflow-y:scroll;}
body {
	/* background: url('../../img/theme/body.jpg'); */
	font:13px/18px Arial, sans-serif;
	color: #FFF;
	position:relative;
	min-width:320px;
}
html,body {
	height:100%;
}
a {
	color:#8a8d91;
	outline:none;
	cursor:pointer;
	text-decoration:none;
}
img {
	max-width:100%;
	height:auto;
}
h2, h3, .sf-menu > li > a, #menu-icon, .sf-menu li li a, slide-text-2, .button, #newsletter-form .submit, .foot-1, .policy, .unsub, .slide-text-1 {font-family:Arial, Helvetica, sans-serif;}
.bold {font-weight:bold;}
/* GLOBAL STRUCTURE
========================================================================= */
.clear {
	clear:both;
	line-height:0;
	font-size:0;
	overflow:hidden;
	height:0;
	width:100%;
}
.wrapper {
	width:100%;
	overflow:hidden;
	position:relative;
}
.extra-wrap {
	overflow:hidden;
	display:block;
}
.fleft {float:left;}
.fright {float:right;}

.body-glow {
         background: url('../../img/theme/body-glow.jpg')  50% 0; 
	background-repeat: repeat-x;
	height:100%;
	 background-color: rgba(252, 252, 252, 1); 
}

.home .body-glow {
    background: url('../../img/theme/body-glow.jpg')  50% 0; 
    background-repeat: repeat-x;
}

.home #content {
    padding-top: 80px;
}


.main {
	width:1040px;
	margin:0 auto;
}

.home header {
    
}
/* TYPOGRAPHY
========================================================================= */
h1 {
	margin-left:40px;
	position:absolute;
}
h1 a {
	display: block;
	position:relative;
	top:65px;
	text-indent: -999em;
	width: 283px;
	height: 115px;
	background: url('../../img/theme/logo.png') no-repeat;
}
h2 {
	font-size:28px;
	line-height:36px;
	font-weight:700;
	color:#8f9194;
	letter-spacing:-1px;
	border-bottom: 3px solid #d5d7da;
	padding-bottom:3px;
}
h3 {
	font-size:36px;
	line-height:44px;
	letter-spacing:-1px;
	font-weight:normal;
}
strong {
	font: normal 14px/20px Arial, sans-serif;
	color:#8a8d91;
}
strong.green {
	color:#4cad99;
}
strong.blue {
	color:#207cbc;
}
strong.l-blue {
	color:#009ee0;
}

/* IDENTS
========================================================================= */
.indent-bot-1 {margin-bottom: 18px;}
.indent-bot-2 {margin-bottom: 38px;}
.indent-bot-3 {margin-bottom: 12px;}
.indent-bot-4 {margin-bottom: 5px;}
.indent-bot-5 {margin-bottom: 3px;}
.indent-bot-6 {margin-bottom: 22px;}
.indent-bot-7 {margin-bottom: 17px;}
.indent-bot-8 {margin-bottom: 40px;}
.indent-bot-9 {margin-bottom: 39px;}
.indent-bot-10 {margin-bottom: 56px;}
.indent-bot-11 {margin-bottom: 24px;}
.indent-bot-12 {margin-bottom: 34px;}
.indent-bot-13 {margin-bottom: 15px;}
.indent-bot-14 {margin-bottom: 19px;}
.indent-bot-15 {margin-bottom: 23px;}
.indent-bot-16 {margin-bottom: 46px;}
.indent-bot-17 {margin-bottom: 43px;}
.indent-bot-18 {margin-bottom: 54px;}
.indent-bot-19 {margin-bottom: 51px;}
.indent-bot-20 {margin-bottom: 11px;}
.indent-bot-21 {margin-bottom: 9px;}
.indent-bot-22 {margin-bottom: 45px;}


/* HEADER
========================================================================= */
.list-soc {
	padding:11px 0 4px 0;
	float:right;
	margin-right:76px;
}
.list-soc li {
	float:left;
	margin-left:17px;
}
.list-soc li a {
	display:inline-block;
	width:36px;
	height:30px;
}
.list-soc li.soc-1 a {
	/*background: url('../../img/theme/twitter-hover.png') no-repeat;*/
}
.list-soc li.soc-2 a {
	/*background: url('../../img/theme/facebook-hover.png') no-repeat;*/
}
.list-soc li.soc-3 a {
	/*background: url('../../img/theme/stumbleupon-hover.png') no-repeat;*/
}
.list-soc li.soc-4 a {
	/*background: url('../../img/theme/rss-hover.png') no-repeat;*/
}
.list-soc li.soc-1 a:hover,
.list-soc li.soc-2 a:hover,
.list-soc li.soc-3 a:hover,
.list-soc li.soc-4 a:hover {background-position:0 100%;}



nav {
	background: url('../../img/theme/page1-menu-bg.png') no-repeat;
	min-height:98px;
	margin-left:8px;
}
#page1 nav {
	background: url('../../img/theme/page1-menu-bg.png') no-repeat;
	min-height:95px;
	margin-left:8px;
}

div.col-green, div.col-blue, div.col-light-blue {
	float:left;
	margin-left:10px;
	color:#ffffff;
}
div.col-green a, div.col-blue a, div.col-light-blue a {
	color:#fff;
	text-decoration:underline;
}
div.col-green a:hover, div.col-blue a:hover, div.col-light-blue a:hover {
	text-decoration:none;
}

div.col-green {
	width:320px;
	margin-left:14px;
	background: #67bdb0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3YmRiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjNWNiN2E4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjElIiBzdG9wLWNvbG9yPSIjNTdiMmEzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjQlIiBzdG9wLWNvbG9yPSIjNTdhZjlmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDQlIiBzdG9wLWNvbG9yPSIjNTBhNzk2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjMlIiBzdG9wLWNvbG9yPSIjNGNhMzkyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjNGJhMjhmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTYlIiBzdG9wLWNvbG9yPSIjNDlhMDhkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU0YTU5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #67bdb0 0%, #5cb7a8 5%, #57b2a3 21%, #57af9f 24%, #50a796 44%, #4ca392 63%, #4ba28f 65%, #49a08d 96%, #54a594 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67bdb0), color-stop(5%,#5cb7a8), color-stop(21%,#57b2a3), color-stop(24%,#57af9f), color-stop(44%,#50a796), color-stop(63%,#4ca392), color-stop(65%,#4ba28f), color-stop(96%,#49a08d), color-stop(100%,#54a594)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #67bdb0 0%,#5cb7a8 5%,#57b2a3 21%,#57af9f 24%,#50a796 44%,#4ca392 63%,#4ba28f 65%,#49a08d 96%,#54a594 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #67bdb0 0%,#5cb7a8 5%,#57b2a3 21%,#57af9f 24%,#50a796 44%,#4ca392 63%,#4ba28f 65%,#49a08d 96%,#54a594 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #67bdb0 0%,#5cb7a8 5%,#57b2a3 21%,#57af9f 24%,#50a796 44%,#4ca392 63%,#4ba28f 65%,#49a08d 96%,#54a594 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #67bdb0 0%,#5cb7a8 5%,#57b2a3 21%,#57af9f 24%,#50a796 44%,#4ca392 63%,#4ba28f 65%,#49a08d 96%,#54a594 100%); /* W3C */
	-pie-background: linear-gradient(#67bdb0 0%, #5cb7a8 5%, #57b2a3 21%, #57af9f 24%, #50a796 44%, #4ca392 63%, #4ba28f 65%, #49a08d 96%, #54a594 100%);
	filter: none;
}

div.col-blue {
	width:314px;
	background: #2f6f9d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmNmY5ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjMjk2OTk3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiMyNTY3OTciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iIzI0Njc5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzI2NjY5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iIzIyNjE4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzIzNWU4YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iIzIwNWI4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iIzFmNTY3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzFkNTM3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iIzIwNTQ3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzVlODEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #2f6f9d 0%, #296997 2%, #256797 4%, #246794 7%, #266694 10%, #22618c 22%, #235e8a 31%, #205b83 38%, #1f567d 55%, #1d5377 95%, #205479 97%, #2c5e81 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f6f9d), color-stop(2%,#296997), color-stop(4%,#256797), color-stop(7%,#246794), color-stop(10%,#266694), color-stop(22%,#22618c), color-stop(31%,#235e8a), color-stop(38%,#205b83), color-stop(55%,#1f567d), color-stop(95%,#1d5377), color-stop(97%,#205479), color-stop(100%,#2c5e81)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2f6f9d 0%,#296997 2%,#256797 4%,#246794 7%,#266694 10%,#22618c 22%,#235e8a 31%,#205b83 38%,#1f567d 55%,#1d5377 95%,#205479 97%,#2c5e81 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2f6f9d 0%,#296997 2%,#256797 4%,#246794 7%,#266694 10%,#22618c 22%,#235e8a 31%,#205b83 38%,#1f567d 55%,#1d5377 95%,#205479 97%,#2c5e81 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2f6f9d 0%,#296997 2%,#256797 4%,#246794 7%,#266694 10%,#22618c 22%,#235e8a 31%,#205b83 38%,#1f567d 55%,#1d5377 95%,#205479 97%,#2c5e81 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2f6f9d 0%,#296997 2%,#256797 4%,#246794 7%,#266694 10%,#22618c 22%,#235e8a 31%,#205b83 38%,#1f567d 55%,#1d5377 95%,#205479 97%,#2c5e81 100%); /* W3C */
	-pie-background: linear-gradient(#2f6f9d 0%, #296997 2%, #256797 4%, #246794 7%, #266694 10%, #22618c 22%, #235e8a 31%, #205b83 38%, #1f567d 55%, #1d5377 95%, #205479 97%, #2c5e81 100%);
	filter: none;
}
div.col-light-blue {
	width:312px;
	background: #07b2e6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3YjJlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjMDBhZGU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjIlIiBzdG9wLWNvbG9yPSIjMDBhNmU0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjclIiBzdG9wLWNvbG9yPSIjMDBhMmUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDElIiBzdG9wLWNvbG9yPSIjMDA5YmRlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjQlIiBzdG9wLWNvbG9yPSIjMDA5NGRjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTYlIiBzdG9wLWNvbG9yPSIjMDA5MmRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTclIiBzdG9wLWNvbG9yPSIjMDM5MmRlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTglIiBzdG9wLWNvbG9yPSIjMDY5NmRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBkOTdkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #07b2e6 0%, #00ade5 3%, #00a6e4 22%, #00a2e0 27%, #009bde 41%, #0094dc 64%, #0092dd 96%, #0392de 97%, #0696dd 98%, #0d97df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#07b2e6), color-stop(3%,#00ade5), color-stop(22%,#00a6e4), color-stop(27%,#00a2e0), color-stop(41%,#009bde), color-stop(64%,#0094dc), color-stop(96%,#0092dd), color-stop(97%,#0392de), color-stop(98%,#0696dd), color-stop(100%,#0d97df)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #07b2e6 0%,#00ade5 3%,#00a6e4 22%,#00a2e0 27%,#009bde 41%,#0094dc 64%,#0092dd 96%,#0392de 97%,#0696dd 98%,#0d97df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #07b2e6 0%,#00ade5 3%,#00a6e4 22%,#00a2e0 27%,#009bde 41%,#0094dc 64%,#0092dd 96%,#0392de 97%,#0696dd 98%,#0d97df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #07b2e6 0%,#00ade5 3%,#00a6e4 22%,#00a2e0 27%,#009bde 41%,#0094dc 64%,#0092dd 96%,#0392de 97%,#0696dd 98%,#0d97df 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #07b2e6 0%,#00ade5 3%,#00a6e4 22%,#00a2e0 27%,#009bde 41%,#0094dc 64%,#0092dd 96%,#0392de 97%,#0696dd 98%,#0d97df 100%); /* W3C */
	-pie-background: linear-gradient(#07b2e6 0%, #00ade5 3%, #00a6e4 22%, #00a2e0 27%, #009bde 41%, #0094dc 64%, #0092dd 96%, #0392de 97%, #0696dd 98%, #0d97df 100%);
	filter: none;
}

/* CONTENT
========================================================================= */
#content {
	padding:40px 0 48px 0;
}
#page1 #content {
	padding:56px 0 40px 0;
}

.line {
	background: url('../../img/theme/border-bg.png') repeat-x;
	height: 1px;
	overflow:hidden;
}

div.col-green .inner-indernt {
	/*background: url('../../img/theme/icon1.png') no-repeat 100% 0;*/
}
div.col-blue .inner-indernt {
	/*background: url('../../img/theme/icon2.png') no-repeat 100% 0;*/
}
div.col-light-blue .inner-indernt {
	/*background: url('../../img/theme/icon3.png') no-repeat 100% 0;*/
}

.img-1 {
	float:left;
	margin-right:20px;
	margin-top:5px;
}

.rt-wrap {
	overflow:hidden;
}

.inner-indernt {
	padding: 24px 38px 38px 38px;
}

.rt-indent-1 {padding-right: 40px;}
.br {display:none;}

/* BUTTONS, LINKS
========================================================================= */
.button {
	display:inline-block;
	font-size:14px;
	line-height:20px;
	font-style:italic;
	color:#ffffff;
	padding: 4px 20px;
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}
	
.button.green {
	background: #53a492;
}
.button.green:hover {
	background:#18715d;
}
.button.blue {
	background: #346f99;
}
.button.blue:hover {
	background:#0f9de0;
}
.button.light-blue {
	background: #0f9de0;
}
.button.light-blue:hover {
	background:#346f99;
}



.link-1 {
	color:#8a8d91;
	text-decoration:underline;
}
	.link-1:hover {
		color:#009ee0;
	}
	
.link-2 {
	color:#009ee0;
	border-bottom: 1px solid #009ee0;
}
	.link-2:hover {
		border-bottom: 1px solid transparent;
	}
	
a.color-green {
	color:#4cad99;
}
a.color-green:hover {
	text-decoration:underline;
}

a.color-light-blue {
	color:#009ee0;
	text-decoration:underline;
	font-style:italic;
}
a.color-light-blue:hover {
	text-decoration:none;
}

.list-1 li {
	padding-left: 30px;
	background: url('../../img/theme/marker.png') no-repeat 0 8px;
	line-height:27px;
}
	.list-1 li a {
		color: #8a8d91;
		line-height:27px;
		text-decoration:underline;
	}
	.list-1 li a:hover {
		text-decoration:none;
	}

/* FOOTER
========================================================================= */
footer {
	color:#8a8e94;
	font-size:13px;
	line-height:18px;
	padding-bottom:34px;
}
.policy a {
	color: #8a8e94;
	border-bottom: 1px solid #8a8e94;
}
	.policy a:hover {
		color:#009ee0;
		border-bottom: 1px solid transparent;
	}
	
	
.foot-adress {
	float:left;
}

#newsletter-form {
	float:right;
	margin-right:36px;
	padding-top:5px;
}

#newsletter-form > input {
	margin: 0;
	outline: none;
	box-shadow: none !important;
	border: 1px solid #d1d1d2;
	height: 26px;
	padding: 0 5px;
	color: #8a8d91;
	width: 173px;
	background-color:#fefdfc;
}
#newsletter-form .submit {
	background-color:#a6abb2;
	color:#fff;
	font-size:14px;
	line-height:20px;
	font-style:italic;
	padding:4px 13px;
	display:inline-block;
	margin-left:8px;
}
#newsletter-form .submit:hover {
	background-color:#7f8690;
}

.unsub {
	display:inline-block;
	color:#8a8d91;
	font-style:italic;
	padding-top:7px;
	padding-left:12px;
	overflow:hidden;
}
.unsub:hover {
	color:#009ee0;
}

.foot-1 {overflow:hidden;}

/* MEDIA */
/*==========================================*/
@media only screen and (min-width: 768px) and (max-width: 995px) {
	.hide-pl {display:none;}

	.main {
		width:768px;
	}

	nav {margin-left:0; background-position:-20px 0;}
	#page1 nav { margin-left:0; background-position:-20px 0;}
	
	div.col-green {
		margin-left:0;
	}
	div.col-green, div.col-blue, div.col-light-blue {
		width:249px;
	}
	.inner-indernt {
		padding: 14px 28px 28px 28px;
	}
	#newsletter-form {
		margin-right:18px;
	}
	h1 {margin-left:20px;}
	h3 {
		font-size:30px;
	}
	.list-soc {margin-right:20px;}
	
	.rt-indent-1 {padding-right: 20px;}
}
@media only screen and (max-width: 767px) {
	.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_18, .grid_20, .grid_21, .grid_22 {margin-bottom:30px;}
	
    .last-col {margin-bottom:0 !important;}
	
	.main {
		width:300px;
	}

	h1 {margin-left:0;}
	.list-soc {margin-right:0px;}
	
	nav, #page1 nav {margin-left:0; background:none; position:relative; min-height:40px;}
	#page1 nav {min-height:100px;}
	
	div.col-green, div.col-blue, div.col-light-blue {
		width:100%;
		margin-left:0;
		margin-bottom:15px;
	}
	#newsletter-form {
		margin-right:0px;
		float:none;
		padding-bottom:30px;
	}
	.foot-adress {
		float:none;
		text-align:center;
	}
	.br {display:block;}
	
	h1 {
		position:relative;
		float:left;
	}
	h1 a {
		width: 204px;
		height: 82px;
		background: url('../../img/theme/logo-rt.png') no-repeat;
	}
	.list-soc {display:none;}

	.list-soc {float:left;}
	
	.hide-ip{display:none;}
	
	.img-100 {width:100%;}
	
	.rt-indent-1 {padding: 0;}
	
	.rt-wrap {overflow:visible;}
	.img-1 {float:none; margin-bottom:20px;}
	
	
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	 .hide-iw{display:none;}
	 .list-soc {display:block;}
	.main {
		width:420px;
	}
	.br {display:none;}
}
/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */
.message {
  float: none;
  font-size: 12px;
  margin: 0 0 20px;
  padding: 10px;
}

.message.flash-failure {
  color: #D8000C;
  background: #FFBABA;
  border: 1px solid #D8000C;
}

.message.flash-success {
  color: #4F8A10;
  background: #DFF2BF;
  border: 1px solid #4F8A10;
}

.login-submit {
	margin-top:10px;
}

.sf-menu > li > a:hover, .sf-menu > li.active > a, .sf-menu > li.sfHover > a {

background-color: transparent;
}