/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	line-height: 1.0;
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float: left;
	position: relative;
}
.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: 0;
	top: 2.5em; /* match top ul list item height */
	z-index: 99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}

/*** STYLIZATION ***/
.sf-menu {
	margin-right:86px;
	padding-top:34px;
}
nav .sf-menu {
	float:right;
}
.sf-menu > li  {
	margin-left:13px;
}
.sf-menu > li > a {
	font-size:18px;
	line-height:24px;
	color: #4c4f52;
	padding: 3px 5px 3px;
	letter-spacing:-0.3pt;
	font-weight:700;
}
.sf-menu > li > a:hover, .sf-menu > li.active > a, .sf-menu > li.sfHover > a {
	color: #0097de;
	background-color:#fff;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: auto;
	padding: 10px 0;
	background-color:#e7e6e9;
}
.sf-menu li li a {
	font-size:16px;
	line-height:34px;
	color: #4c4f52;
	padding-left: 14px;
	padding-right: 14px;
}
.sf-menu  li li a:hover, .sf-menu > li li.active a, .sf-menu > li li.sfHover > a {
	color: #0097de;
	background-color:#FFF;
}

.sf-menu .sf-sub-indicator {
		display:none;
	}
	
#menu-icon{ display:none;}

@media only screen and (min-width: 768px) and (max-width: 995px) {
	.sf-menu {
		margin-right:10px;
	}
	.sf-menu > li  {
		margin-left:10px;
	}
	.sf-menu > li > a {
		padding: 3px 5px;
	}
}
@media only screen and (max-width: 767px) {	
	#menu-icon {
		color: #0097de;
		cursor: pointer;
		display: inline-block;
		padding: 5px 11px 5px 11px;
		background-color:#fff;
		font-size:18px;
		line-height:30px;
		position:absolute;
		right:0;
		-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	}
	.sf-menu {
		clear: both;
		position: absolute;
		top: 10px;
		right:0;
		margin-right:0;
		margin-top:36px;
		padding:10px 0;
		width: auto;
		z-index: 10000;
		display: none; /* visibility will be toggled with jquery */
		background-color:#fff;
	}
	.sf-menu li {
		clear: both;
		float: none;
		margin-bottom:5px;
		margin-left:0;
	}
	.sf-menu a, 
	.sf-menu ul a {
		font: inherit;
	}
	.sf-menu ul {
		width: auto;
		position: static;
		display: block !important;
		background-color:#fff;
	}
	.sf-menu li li a {
		padding-left:40px;
		padding-right:40px;
	}
	.sf-menu .sf-sub-indicator {
		text-indent: -999em;
		width: 9px;
		height: 5px;
		display:inline-block;
		background: url('../images/sf-sub-indicator.png') no-repeat;
		position:relative;
		left:10px;
		top:19px;
	}
	.sf-menu > li li > a > .sf-sub-indicator {
		left:8px;
		top:13px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}
@media only screen and (min-width: 768px) {.sf-menu { display:block !important;}}
