.navbar.navbar-dark.bg-success {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 2;

  .navbar-nav {
    .nav-link {
      color: $white;
      padding: {
        top: 1rem;
        bottom: 1rem;
      }
    }

    .dropdown-menu {
      background-color: $gray-600;
      border-radius: 0;
      top: 45px;

      .dropdown-item {
        color: #fff;
        font: {
          size: 0.75rem;
          weight: 300;
        }
        letter-spacing: 0.25px;
      }

      .dropdown-item:hover {
        background-color: inherit;
        color: $green-lighter;
      }
    }

    .dropdown:hover > .dropdown-menu { display: block }
  }
}

@include media-breakpoint-up(md) {
  .navbar.navbar-dark.bg-success {
    background: {
      image: url(../img/navigation-background.png);
      position-y: -53px;
      repeat: no-repeat;
    }
    padding: {
      top: 0;
      bottom: 0;
    }

    .navbar-nav {
      .nav-link {
        padding: {
          top: 1rem;
          bottom: 1rem;
        }
      }
    }
  }
}