/*
    Document   : style
    Created on : Dec 13, 2010, 3:06:41 PM
    Author     : Daniel Nolan
    Description: main site style sheet
    Copyright  : Complete Technology Solutions

*/

/* HTML Elements */

html {
	background: #1875BB;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-y: scroll;
}


a {
    color: #3B71A0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: orange;
    font-size: 15px;
    font-weight: bold;
}

h2 {
    color: orange;
    font-size: 12px;
    font-weight: bold;
}

strong {
    font-weight: bold;
}


/* Text */
.small {
    font-size: 11px;
}

.normal {
    font-weight: normal;
}

/* Margin Classes */
.bot-mar-10 {
    margin-bottom: 10px;
}

.right-mar-10 {
    margin-right: 10px;
}

.left-mar-10 {
    margin-left: 10px;
}

.top-mar-10 {
	margin-top: 10px;
}

.top-mar-20 {
	margin-top: 20px;
}

/* Structure Elements */

#container {
    margin: 0 auto;
    width: 977px;
}

#header {
    width: 970px;
    color: #333;
    padding: 0 0 0 0;
    height: 90px;
    margin: 0;
    background: #FFF;
}

#nav {
    color: white;
    background-color: #333;
    height: 30px;

}

#nav li {
    float: left;
    margin: 8px 10px 0 ;

}

#nav a {
    color: white;

}

#content {
    width: 950px;
    color: #333;
    background: #fff;
    margin: 0px 0px 5px 0px;
    padding: 10px;
    min-height: 400px;
    overflow: hidden;
}

#footer {
    background-color: #fff;
    font-size: 10px;
    font-weight: normal;
    color: #000;
    width: 950px;
    border: none;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/*Specific Styles */

#logo{
    font-size: 40px;
    margin: 10px 0 0 10px;
}

#logoLogout {
    text-align: right;
    margin: 0 10px 10px 0;
}

#logoLogout img{
    margin-top: 15px;
    margin-bottom: 10px;
}

#logoLogout p{
    height: 15px;
    width: 300px;
}

#content h1 {
    margin: 5px 10px 5px 0;
}


/* nav */
#navigation {
    background: #fff;
    margin: 5px 0;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    width: 950px;
}

#navigation ul {
    background: #fff;
    width: 775px;
    margin: 0 auto;
}

#navigation ul li {
    background: #fff;
    float: left;
    margin-right: 25px;
}

#navigation ul li a {
    font-size: 14px;
    display: block;
    padding: 0 10px;
}

#navigation ul li a:hover {
    background-color: #1875BB;
    color: #fff;
    text-decoration: none;
}

/* nav */
#bottom_navigation {
    background: #fff;
    margin: 5px 0;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    width: 950px;
}

#bottom_navigation ul {
    background: #fff;
    width: 775px;
    margin: 0 auto;
}

#bottom_navigation ul li {
    background: #fff;
    float: left;
    margin-right: 25px;
}

#bottom_navigation ul li a {
    font-size: 14px;
    display: block;
    padding: 0 10px;
}

#bottom_navigation ul li a:hover {
    background-color: #1875BB;
    color: #fff;
    text-decoration: none;
}

.hotJobs .job, .featuredEmployers .featuredEmployer,
.rfps .rfp {
	border-bottom: 1px solid #3366CC;
	margin: 8px 0 18px;
	padding: 0 0 12px;
}

.hotJobs .job h2,
.featuredEmployers .featuredEmployer h2,
.rfps .rfp h2 {
	margin: 0 0 12px 0;
}

.hotJobs .job p,
.featuredEmployers .featuredEmployer p,
.rfps .rfp p {
	margin: 0 0 12px;
}

.hotJobs .job ul,
.featuredEmployers .featuredEmployer ul, 
.rfps .rfp ul{
	margin: 0 0 12px 10px;
}

.rfp_download {
	display: block;
	margin-left: 10px;
	width: 96px;
}
.rfp_download:hover {
	text-decoration: none;
}
.rfp_download img {
	margin: 0 0 0 16px;
}

.inTheNews,
.helpfulArticles {
	margin: 12px 0 0;
}

.inTheNews .article,
.helpfulArticles .article {
	border-top: 1px solid #D0E0EE;
	margin: 0 0 18px;
	padding: 8px 0;
}

.inTheNews .article .date,
.helpfulArticles .article .date {
	color: #666;
	margin: 0 0 12px;
}

.inTheNews .article h2,
.helpfulArticles .article h2 {
	font-size: 13px;
	margin: 0 0 2px;
}

.inTheNews .article .reporter,
.helpfulArticles .article .reporter {
	color: #888888;
	display: block;
	font-style: italic;
	margin: 0 0 12px;
}

.inTheNews .article .summary,
.helpfulArticles .article .summary {
	line-height: 1.4em;
	margin: 0 0 18px;
	width: 450px;
}

.counter {
	color: #A4A4A4;
}

.locations {
	margin: 15px 0 0;
}

.locations .location {
	border-top: 1px solid #D0E0EE;
	height: 200px;
	margin: 0 0 18px;
	padding: 25px 0;
}

.location_facilities {
	border-top: 1px solid #D0E0EE;
	margin: 0 0 18px;
	padding: 25px 0;
}

.survey form {
	margin: 18px 0;
}

.survey fieldset {
	border: 1px solid #BBB;
	padding: 8px 18px;
}
.survey fieldset legend {
	font-style: italic;
	margin: 0 0 0 15px;
}

.survey .input {
	border-bottom: 1px solid #dedede;
	padding: 0 0 10px;
}

.survey label {
	font-weight: bold;
}

.survey .rating label {
	display: inline;
}

.survey .rating input {
	width: 12px;
}

fieldset {
    padding: 10px;
    border: 1px solid #000;
}

legend {
    margin-left: 10px;
}

.input {
    height: 18px;

}

.input label {
    font-weight: bold;
}

.input input  {
    width: 200px;
}

.input input[type=submit] {
    width: 100px;
    padding: 2px;
}

.input input[type=submit]:hover {
    cursor: pointer;
}

br.clear {
	clear: both;
}

.form .tall {
	height: 50px;
}

.form .supertall {
	padding: 18px 0 0;
	height: 150px;
}

.form fieldset {
    display: inline;
    min-width: 500px;
}

.form legend {
    margin-bottom: 5px;
}
.form p{
    line-height: 25px;
    margin-right: 10px;
    width: 250px;
}
.form p.date {
	width: 400px;
}

.form .wide {
width: 100%
}

.form .label {
    text-align: right;
}

.form label {
	line-height: 15px;
}

.survey p.wide {
	padding: 0 0 10px;
	border-bottom: 1px solid #dedede;
}

.input input[type=radio] {
	margin: 0 4px 0 18px;
}

.input input[type=checkbox] {
	width: 20px;
}

.survey .rating {
	padding: 5px 0 0;
}

.error-message {
    color: red;
    font-size: 11px;
    margin-left: 120px;
    margin-top: 2px;
    float: left;
}

.message {
    background-color: #fff;
    margin: 0 0 0 0;
    padding: 2px 5px 2px 5px;
    font-size: 20px;
    float: left;
}

.flash-failure .ui-icon{
    margin: 5px 10px 0 0;
}

.flash-success .ui-icon{
    margin: 5px 10px 0 0;
}


div.required label:after {
    content: ' *';
    color: #990000;
    display:inline;
}

/* Login */

#ChildLoginForm #UserPassword {width: 30px}
#ChildLoginForm { width: 350px;}
#ChildLoginForm label { margin-right: 10px;}
#ChildLoginForm .input {margin-bottom: 10px;}
#ChildLoginForm .error-message {margin: 0}

/* Registration */

#password_UserSsn1, #password_UserSsn1Confirm  {
	width: 25px;
}

#password_UserSsn2Confirm, #password_UserSsn2 {
	width: 20px;
}

#password_UserSsn3, #password_UserSsn3Confirm {
	width: 30px;
}

#ChildRegistrationForm form,
#WebRegistrationForm form{
	margin-top: 10px;
}

#ChildRegistrationForm fieldset,
#WebRegistrationForm fieldset{
	width: 600px;
}

#ChildRegistrationForm .error-message,
#WebRegistrationForm .error-message {
	margin: 0;
}

#ChildRegistrationForm .input,
#WebRegistrationForm .input{
	height: auto;
	margin-bottom: 20px;
}


 /* Programs */

#Instructions {
	width: 600px;
	margin-bottom: 10px;
} 

#ProgramForm fieldset {
	width: 600px
}

#ProgramForm .input {
	height: auto;
	margin-bottom: 5px;
}

#ProgramForm .error-message {
	margin-left: 0;
}

#ProgramForm .field-instructions {
	width: 600px;
	margin: 5px;
}

#ProgramForm .checkbox input { float: left}

#ProgramForm .checkbox label {margin-left: 10px}


#Acknowledge label {
	margin-left: 10px
}

#Acknowledge .error-message {
	margin-left: 0;
}

#RequiredDocs .error-message {
	margin-left: 0;
}

#ResponseComplete .label {
	width:110px; 
	text-align: right;
}
