.grid-container {
  padding: 0;
  margin: 0;
  text-align: center;
}
.grid-container > li,
.grid-container > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* gird classes */
.grids-2 > li,
.grids-2 > div {
  margin: 0px;
  margin-top: 0;
  display: block;
  width: 49.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  float: left;
  list-style: none;
}
.grids-2 > li .items,
.grids-2 > div .items {
  padding: 5px;
  overflow: hidden;
}
.grids-3 > li,
.grids-3 > div {
  margin: 0px;
  margin-top: 0;
  display: block;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  float: left;
  list-style: none;
}
.grids-3 > li .items,
.grids-3 > div .items {
  padding: 5px;
  overflow: hidden;
}
.grids-4 > li,
.grids-4 > div {
  margin: 0px;
  margin-top: 0;
  display: block;
  width: 24.75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  float: left;
  list-style: none;
}
.grids-4 > li .items,
.grids-4 > div .items {
  padding: 5px;
  overflow: hidden;
}
.grids-12 > li,
.grids-12 > div {
  margin: 0px;
  margin-top: 0;
  display: block;
  width: 8.25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  float: left;
  list-style: none;
}
.grids-12 > li .items,
.grids-12 > div .items {
  padding: 5px;
  overflow: hidden;
}
